@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Confly</h1>
    <p class="lead">A leading solution to conference managment.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Tutaj wymyslec jakis zaczac Mozliwe ze skrin?
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why us?</h2>
        <p>Tutaj zalety</p>
    </div>
    <div class="col-md-4">

    </div>
</div>